//tipografia
$fuente_principal: "Work Sans", sans-serif;
$fuente_titulo: 'Righteous', cursive;
//colores
$verde: #1CB698;


$box: #252A2E;
$bg: #1E2326;
$negro: #000000;
$blanco:#ffffff;


// Tamaños Media Query
$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;