@use 'base/variables' as v;
@use 'base/mixins' as m;


.contacto{
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding:  4rem 0;
    h2{
        position: relative;
        margin: 5rem 0;
        &:after{
            @include m.lineaVerde;
        }
    }
}
.contenedor__cards{
        @include m.grid(2, 1rem);
        @include m.telefono{
             @include m.grid(4, 2rem);
        }
       @include m.tablet{
           display: grid;
            @include m.grid(4, 2rem);
            
       }
       

   .card{
       align-self: center;
       justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: v.$box;
    width: 80px;
    height: 80px;
    border-radius: 5px;
    &:hover{
        cursor: pointer;
    }
    .icon_contact{
        font-size: 3rem;
    }
   }
    
}