@use 'base/variables' as v;
@use 'base/mixins' as m;

.portafolios {
    h2{
    position: relative;

        margin-bottom: 5rem;
        &::after{
            @include m.lineaVerde;
            width: 150px;
        }
    }
}
.portafolios__cont{
    display: grid;
    @include m.grid(1,2rem);
    @include m.tablet{
    display: grid;
        @include m.grid(2,2rem);
    }
    @include m.desktop{
        @include m.grid(3,2rem);
    }
   .portafolio1{
        background-image: url('/src/img/portfolio/1.jpg');
        background-size: cover;
        height: 100%;
    }
    .portafolio2{
        background-image: url('/src/img/portfolio/4.png');
        background-size: cover;
        background-position: center center;
        background-repeat: round;

        height: 100%;
    }
    .portafolio3{
        background-image: url('/src/img/portfolio/1.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: round;
        height: 100%;
    }
    .portafolio4{
        background-image: url('/src/img/portfolio/4.png');
        background-size: cover;
        background-position: center center;
        background-repeat: round;
        height: 100%;
    }
    .portafolio5{
        background-image: url('/src/img/portfolio/5.png');
        background-size: cover;
        background-position: center center;
        background-repeat: round;
        height: 100%;
    }
    .portafolio6{
        background-image: url('/src/img/portfolio/6.png');
        background-size: cover;
        background-position: center center;
        background-repeat: round;
        height: 100%;
    }
    // .portafolio2{
    //     background-image: url('/src/img/portfolio/portafolio2.jpg');
    //     background-size: cover;  
    // }
    .portafolio{
        position: relative;
        height: 250px;
        overflow: hidden;
        @include m.tablet{
            height: 250!important;
        }
      
        .overlay{
            position: absolute;
            background-color: v.$bg;
            filter: opacity(90%);
            height: 100%;
            width: 100%;
            transition: 0.5s;
            transform: translatey(100%);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        &:hover{
            
        }
    }
}
.portafolio .overlay{
    h3{
        color: white;
    }
    a{
        color: v.$blanco;
        padding: .6rem 1rem;
        background-color: v.$negro;
        border-radius: 1rem;
        opacity: 100%;
        margin-top: 1rem;
        i{
            margin-left: 1rem;
        }
    }
}
.portafolio:hover .overlay {
    
        transform: translatey(0px);
      
   
}